{% include "base.html.twig" %}

<div class="container">
    <div class="row" id="row_style">
        <h4 class="text-center">Submit new post</h4>
        <div class="col-md-4   col-md-offset-4">
            <form method="post" action="/new_article">
                <div class="form-group">
                    <input name="title" type="text" class="form-control" placeholder="Title">
                </div>
                <textarea name="introduction" id="editor" cols="50" rows="10">Introduction...</textarea>
                <br>
                <textarea name="content" id="editor" cols="50" rows="20">Contenu...</textarea>
                <br>

                <div class="form-group">
                    <p>
                        <label for="categories">Catgérorie liée</label><br/>
                        <select name="category" id="category">
                            {% for category in allCategories %}
                                <option value={{ category.name }}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Enrengistrement</button>
                    </div> <!-- form-group// -->
            </form>
        </div>
        </form>

    </div>
</div>
</div>
